@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #E5E5E5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A; 
}

::-webkit-scrollbar-thumb {
  background: #1F1F1F; 
}

::-webkit-scrollbar-thumb:hover {
  background: #00FF41; 
}